html,
body {
    height: 100%;
    margin: 0px;
    color: rgb(32, 4, 152);
    font-family: system-ui;
}

.profile_data {
    padding-left: 11%;
    padding-right: 13%;
    padding-top: 11%;
    font-size: 10px;
}

.profile_Details {
    border-bottom: 1px solid rgba(119, 124, 142, 0.27);
    margin: 12px 18px;
    color: rgb(32, 4, 152);
    font-size: 14px;
    padding-left: 26px;
    font-weight: 500;
}

.profile_name {
    margin: 2px 0px;
    font-size: 40px;
    font-weight: bold;
}

.profile_role {
    font-size: 74%;
    margin: 0px;
}

.responsive {
    width: 25%;
    height: 25%;
}

* {
    box-sizing: border-box;
}

.left {
    padding: 20px;
    float: left;
    width: 30%;
    height: 100%;
}

.right {
    padding: 20px 78px 12px 0px;
    float: left;
    height: 100%;
    width: 70%;
}

.right_float {
    float: right;
}

.image_set {
    text-align: center;
    font-size: 25px;
    color: rgb(0, 0, 108);
    MARGIN: 10PX;
}

@media screen and (max-width: 500px) {

    .left,
    .right {
        width: 100%;
    }
}

.top {
    height: 30%;
    padding: 0px;
}

.middle {
    height: 38%;
}

.headings {
    font-size: 24px;
    font-weight: 700;
    margin: 0px;
}

.custom_table {
    width: 100%;
}

tr.bottom_row {
    border-bottom: 1px solid rgba(174, 162, 163, 0.43);
    font-size: 9px;
}

td.top_data {
    padding-top: 12px;
}

td.top_data_button {
    margin-top: 12px;
    padding: 3px 13px 3px 14px;
    background: rgba(175, 222, 175, 0.82);
    border-radius: 13px;
    font-size: 12px;
    font-weight: 500;
    float: right;
}

table {
    border-collapse: collapse;
}

td.bottom_data {
    padding-bottom: 8px;
}

.icon {
    height: 15px;
    margin-left: 48px;
}

img {
    vertical-align: middle;
}

.inline {
    display: flex;
}

p#phone1 {
    margin-left: -19px;
    margin-top: -2px;
}