<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <link rel="stylesheet" href="view.css" type="text/css">
</head>
<body style="margin-top : 100px;">
<h4 th:text="${message}"></h4>
<h2>Trainee List</h2>
<div class="scrollTable">
    <table>
        <tr>
            <th>Id</th>
            <th>Name</th>
        </tr>
        <tr th:each="trainer: ${trainerDTOs}">
            <td th:text="${trainer.id}"></td>
            <td th:text="${trainer.name}"><a th:href="@{viewTrainerDetails?id=${trainer.id}}"></a></td>
            <td>
            <button><a th:href="@{'/viewSingleTrainer?id=' + ${trainer.id}}">view Details</a>
            </button></td>
        </tr>
    </table><br></div>
<a href="/traineeForm?flag=addTrainee"><input type="button" value="Add Trainee" ></a>
<a href="/"><input type="button" value="Go back!" ></a>
</body>

</html>
